/* *{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
} */
.nav-item a:hover{
    color: #ffee00 !important;
    
}

.motto-img{
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    height: 200px !important;
    color: #ffffff !important;
}
.col-md-4 .d-flex img{
    margin-left: calc(-10.5 * var(--bs-gutter-x)) !important;
}
